@import "config";
@import "menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  min-height: calc(100vh - 50px);
  padding: 4rem;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      color: set-text-color($primary-color);

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

// About

.info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio-image bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bio-image;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
    max-height: 250px;
    border: 3px solid $secondary-color;
    border-radius: 50%;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;

    h3 {
      color: $secondary-color;
    }
  }

  .job {
    padding: 0.7rem;
    background: lighten($primary-color, 7);
    border-bottom: 5px solid $secondary-color;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
}

// Work

.projects {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  .project {
    width: 100%;
    max-width: 400px;

    img {
      width: 100%;
      border: 3px solid #ffffff;
    }

    .project-image {
      position: relative;

      &:hover .img-overlay {
        background: lighten($primary-color, 30);
        color: set-text-color($primary-color);
        opacity: 0.8;
      }

      .img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #008cba;
      }

      .text {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        @include mediaSm {
          font-size: 13px;
        }
      }
    }
  }

  .btn {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0.2rem;

    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
    }
  }

  .btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #ffffff;
  }

  .btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333333;
  }
}

//contact

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;

  .box {
    padding: 0.6rem 1rem;
    border: 3px solid #ffffff;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    @include easeOut;

    &:hover {
      padding: 1.4rem 1.8rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

footer {
  text-align: center;
  line-height: 50px;
  background: darken($primary-color, 10);
  height: 50px;
  color: set-text-color($primary-color);
}

@import "mobile";
